* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    width: 1110px;
    margin-inline: auto;
    padding-inline: 10px;
}

button {
    font-size: 15px;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
    color: white;
    background: orange;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
}

/* custom css */

body {
    background: rgb(255, 255, 255);
}

.navbar {
    background: black;
    color: white;
    height: 50px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 100%;
}

.navbar ul {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.navbar li {
    list-style: none;
}

.navbar a:hover {
    color: orange;
}

.navbar .logo {
    font-size: 40px;
    font-weight: bold;
}

.header {
    background-image: url("./images/header.jpg");
    background-position: top;
}

.header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 100px 20px;
    max-width: 100%;
    gap: 30px;
}

.header h1 {
    color: white;
    font-size: 100px;
    text-align: center;
}

.boxes .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    margin-top: 40px;
    margin-bottom: 70px;
    padding-inline: 20px;
    max-width: 100%;
    gap: 50px;
}

.boxes h2 {
    display: block;
    text-align: center;
    font-size: 40px;
    padding-top: 70px;
    padding-inline: 20px;
}

.box img {
    height: 300px;
    width: 200px;
    border-radius: 5px;
}

.box p {
    width: 200px;
    text-align: center;
}

.quote {
    background: darkgray;
}

.quote .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 900px;
    padding: 80px 20px;
    max-width: 100%;
}

.quote .actual-quote {
    font-style: italic;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

.quote .container .author {
    align-self: flex-end;
    font-weight: bold;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    padding-top: 10px;
}

.call-to-action .container {
    background: orange;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 30px 50px;
    max-width: 100%;
    border-radius: 5px;
    gap: 10px;
}

.call-to-action button {
    border: solid white;
}

footer {
    background: black;
    height: 40px;
    margin-bottom: auto;
}

.footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 13px;
    height: 100%;
    max-width: 100%;
}